################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EDA---TP1/v16/Browse.VC.opendb
*.docx